@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --cor-principal: #ec4b59;
    --cor-secundaria: #ed6464;
    --cor-destaque: #f7a29e;
}

body {
    font-family: 'Comic Neue', sans-serif;
    color: var(--cor-principal);
    background-color: #f8f9fa;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
    text-decoration: none;
}

a, .btn-link:hover {
    color: var(--cor-principal);
}

a:hover {
    color: var(--cor-destaque);
}